In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score

In [2]:
#Week 4-10 nov: smsin traffic
data = pd.read_csv("./classif/weekly10x10/classif10x10week_smsin.csv")
data.head()

,Unnamed: 0,cellid,smsin0,smsin1,smsin2,smsin3,smsin4,smsin5,smsin6,smsin7,...,smsin159,smsin160,smsin161,smsin162,smsin163,smsin164,smsin165,smsin166,smsin167,h/w
0,0,4273,0.003091,0.000865,0.000291,0.000535,0.003332,0.006599,0.007458,0.010923,...,0.005582,0.004282,0.004947,0.004283,0.003278,0.004222,0.003787,0.003356,0.001767,1
1,1,4274,0.001457,0.001226,0.000657,0.001418,0.006654,0.015169,0.016008,0.020835,...,0.000871,0.001017,0.001047,0.001196,0.000638,0.001162,0.000770,0.000772,0.000534,0
2,2,4275,0.002265,0.001381,0.000734,0.001195,0.003776,0.008815,0.010730,0.018023,...,0.003779,0.003715,0.004070,0.004353,0.003839,0.003952,0.003660,0.002690,0.001346,0
3,3,4276,0.003527,0.002668,0.001322,0.000794,0.001982,0.001206,0.002872,0.008090,...,0.011733,0.011447,0.013233,0.015020,0.009190,0.011119,0.012632,0.009782,0.007339,1
4,4,4277,0.003737,0.003293,0.001626,0.000878,0.002634,0.001323,0.003275,0.007894,...,0.014032,0.012875,0.016490,0.018384,0.009937,0.012533,0.015180,0.012737,0.010627,1

In [3]:
y = data.iloc[:,170] #h/w
x = data.iloc[:,2:170] #smsin for the whole week (24x7)

In [4]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [5]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.64 accuracy with a standard deviation of 0.12
10 fold: 0.64 accuracy with a standard deviation of 0.20

In [6]:
data = pd.read_csv("./classif/weekly10x10/classif10x10week_smsout.csv")
data.head()

,Unnamed: 0,cellid,smsout0,smsout1,smsout2,smsout3,smsout4,smsout5,smsout6,smsout7,...,smsout159,smsout160,smsout161,smsout162,smsout163,smsout164,smsout165,smsout166,smsout167,h/w
0,0,4273,0.000607,0.000531,0.000180,0.000943,0.001027,0.000794,0.001095,0.004002,...,0.002956,0.000639,0.001812,0.001074,0.001064,0.001815,0.001552,0.002907,0.001149,1
1,1,4274,0.000520,0.000993,0.000222,0.001849,0.002349,0.001879,0.002830,0.007247,...,0.000301,0.000258,0.001061,0.000448,0.000268,0.000506,0.000249,0.000519,0.000149,0
2,2,4275,0.001629,0.001105,0.000209,0.001597,0.001929,0.001814,0.002821,0.008450,...,0.002081,0.002188,0.002417,0.002053,0.002450,0.002115,0.001891,0.002628,0.001437,0
3,3,4276,0.002914,0.001507,0.000432,0.000678,0.000683,0.000417,0.004890,0.005008,...,0.007468,0.007160,0.006319,0.003991,0.007002,0.006474,0.006601,0.008328,0.007134,1
4,4,4277,0.002922,0.001902,0.000504,0.000504,0.000756,0.000126,0.006336,0.004824,...,0.007980,0.007806,0.006990,0.003816,0.007392,0.007062,0.007416,0.010416,0.010784,1

In [7]:
y = data.iloc[:,170] #h/w
x = data.iloc[:,2:170] #smsout for the whole week (24x7)

In [8]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [9]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.64 accuracy with a standard deviation of 0.07
10 fold: 0.58 accuracy with a standard deviation of 0.12

In [10]:
data = pd.read_csv("./classif/weekly10x10/classif10x10week_callin.csv")
data.head()

,Unnamed: 0,cellid,callin0,callin1,callin2,callin3,callin4,callin5,callin6,callin7,...,callin159,callin160,callin161,callin162,callin163,callin164,callin165,callin166,callin167,h/w
0,0,4273,0.000339,0.002465,0.001202,0.003975,0.017777,0.025305,0.033978,0.036199,...,0.005146,0.004335,0.005093,0.005998,0.005392,0.005240,0.004740,0.003137,0.000939,1
1,1,4274,0.001274,0.001661,0.003429,0.007436,0.035091,0.048847,0.064599,0.067340,...,0.001253,0.001494,0.001753,0.001481,0.001874,0.001345,0.001051,0.000765,0.001033,0
2,2,4275,0.001883,0.001168,0.003139,0.005419,0.025201,0.035241,0.047014,0.054768,...,0.003785,0.005748,0.006260,0.006127,0.007960,0.006377,0.003430,0.002708,0.001459,0
3,3,4276,0.003235,0.000917,0.000178,0.001947,0.004641,0.010526,0.013598,0.017153,...,0.012836,0.017412,0.019030,0.026159,0.026465,0.019850,0.015109,0.008368,0.004290,1
4,4,4277,0.003679,0.001037,0.000000,0.002333,0.005444,0.011925,0.016179,0.017493,...,0.014482,0.020120,0.021331,0.031754,0.029670,0.021214,0.017510,0.009460,0.004741,1

In [11]:
y = data.iloc[:,170]
x = data.iloc[:,2:170]

In [12]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [13]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.60 accuracy with a standard deviation of 0.13
10 fold: 0.56 accuracy with a standard deviation of 0.17

In [14]:
data = pd.read_csv("./classif/weekly10x10/classif10x10week_callout.csv")
data.head()

,Unnamed: 0,cellid,callout0,callout1,callout2,callout3,callout4,callout5,callout6,callout7,...,callout159,callout160,callout161,callout162,callout163,callout164,callout165,callout166,callout167,h/w
0,0,4273,0.002678,0.000982,0.000807,0.002401,0.015560,0.023927,0.028174,0.032004,...,0.016893,0.016193,0.028197,0.032102,0.017428,0.018802,0.014958,0.008589,0.001224,1
1,1,4274,0.001357,0.000442,0.002491,0.005958,0.030701,0.046050,0.053380,0.061968,...,0.005912,0.004951,0.009712,0.008425,0.008958,0.006629,0.003691,0.003922,0.000899,0
2,2,4275,0.002037,0.000354,0.002689,0.005001,0.021613,0.031095,0.039257,0.050777,...,0.009638,0.008881,0.014033,0.012561,0.011985,0.011078,0.005956,0.005753,0.001906,0
3,3,4276,0.002405,0.000086,0.001160,0.001373,0.004950,0.008469,0.011876,0.018605,...,0.013211,0.016281,0.022223,0.026027,0.022993,0.026454,0.015195,0.008833,0.004658,1
4,4,4277,0.002315,0.000000,0.001136,0.001590,0.005907,0.010472,0.013014,0.019988,...,0.013515,0.019233,0.025197,0.029923,0.028267,0.030269,0.019118,0.010592,0.005499,1

In [15]:
y = data.iloc[:,170]
x = data.iloc[:,2:170]

In [16]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [17]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.59 accuracy with a standard deviation of 0.07
10 fold: 0.64 accuracy with a standard deviation of 0.14

In [18]:
data = pd.read_csv("./classif/weekly10x10/classif10x10week_internet.csv")
data.head()

,Unnamed: 0,cellid,internet0,internet1,internet2,internet3,internet4,internet5,internet6,internet7,...,internet159,internet160,internet161,internet162,internet163,internet164,internet165,internet166,internet167,h/w
0,0,4273,0.055906,0.030629,0.021745,0.018926,0.022014,0.022073,0.024597,0.036517,...,0.006666,0.007004,0.006990,0.006883,0.007343,0.006635,0.005808,0.005313,0.005341,1
1,1,4274,0.016595,0.012780,0.020191,0.013258,0.026107,0.026698,0.035218,0.052927,...,0.001934,0.001699,0.001645,0.002199,0.002489,0.001738,0.001408,0.001951,0.002383,0
2,2,4275,0.018443,0.014786,0.023283,0.015955,0.029164,0.028976,0.038924,0.057508,...,0.007733,0.008294,0.008591,0.009586,0.009224,0.008699,0.008257,0.008323,0.008513,0
3,3,4276,0.032342,0.026888,0.030985,0.023908,0.027834,0.023627,0.026941,0.031451,...,0.033173,0.041028,0.028142,0.042766,0.041874,0.040581,0.037097,0.041446,0.038482,1
4,4,4277,0.035097,0.030121,0.034501,0.026530,0.030181,0.025607,0.028333,0.032549,...,0.036590,0.045672,0.029852,0.047242,0.046204,0.045094,0.041009,0.046538,0.042574,1

In [19]:
y = data.iloc[:,170]
x = data.iloc[:,2:170]

In [20]:
knn = KNeighborsClassifier(n_neighbors=5)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [21]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores2.mean(), scores2.std()))

5 fold: 0.62 accuracy with a standard deviation of 0.12
10 fold: 0.64 accuracy with a standard deviation of 0.10